/* === Font === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* === Small CSS Reset === */
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* === Main Styles === */
body, button {
    font-family: 'Inter', sans-serif;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
}

h1 {
    margin: 3rem;
    text-transform: uppercase;
    letter-spacing: .375rem;
    background-color: #ffe0e0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: 700;
}

button {
    border: none;
    font-size: 1.75rem;
    cursor: pointer;
}

button.light1 {
    background: #EFEFEF;
}

button.light-1:hover {
    background: #e2e1e1;
}

button.light-2 {
    background: #e0e0e0;
}

button.light-2:hover{
    background: #cccccc;
}

button.light-3 {
    background: #ffc1ab;
}
button.light-3:hover {
    background: #ecb39e;
}

.calculator-container {
    display: grid;
    width: 25rem;
    height: 40rem;
    background: #ffe0e02d;
    padding: 1rem;
    border: 1rem solid #ffe0e0;
    border-radius: 1rem;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    gap: .5rem;
    grid-template-areas:
        "display display display display"
        "clear clear multiply divide"
        "seven eight nine minus"
        "four five six plus"
        "one two three equal"
        "zero zero dot equal";
    font-size: 4rem;
}

#display {
    grid-area: display;
    justify-self: end;
    align-self: center;
    padding-right: 1rem;
}

#clear {
    grid-area: clear;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#minus {
    grid-area: minus;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#plus {
    grid-area: plus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#zero {
    grid-area: zero;
}

#dot {
    grid-area: dot;
}

#equal {
    grid-area: equal;
}